
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Lukas Fassl</title>

<style> 
.wow {
  width: 100px;
}

body {background-color: #313131;}

  .info {
    color: white;
}

h1 {
  color: #f5f0f0;
  font-family: verdana;
  font-size: 250%;
}

  h2 {
  color: #f5f0f0;  
  font-family: courier;
  font-size: 150%;
}

  h4 {
  color: #f5f0f0;  
  font-family: courier;
  font-size: 100%;  
}

p {
  color: #f5f0f0;
  font-family: courier;
  font-size: 100%;
}

li {
  color: #f5f0f0;
  font-family: courier;
  font-size: 95%;
}

th, td {
  color: #f5f0f0;
  font-family: courier;
  font-size: 200%;
}

.frame {
  margin: 10px 50px 25px 25px;
}

<style>
.left, .right {
  float: left;
  width: 20%; /* The width is 20%, by default */
}

.main {
  float: left;
  width: 60%; /* The width is 60%, by default */
}

/* Use a media query to add a breakpoint at 800px: */
@media screen and (max-width: 800px) {
  .left, .main, .right {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
}

  .website {
  color: white ;
  }

  .table, td, th {
    color:white ;
  }

table, th, td {
  border: 1px solid white;
  font:courier ;
}

</style>
</style>
</head>


<body>
  <div class=frame>
  <h1 class=header>
  Lukas Fassl </h1>

    <img src="//www.lukasfassl.com/img-get2/I0000FL1upQeZBHo/sec=wdtsdtoeflwems1440ed202204220QxFeU12A2Abo2N/fit=600/insta.jpg" alt="Aleq" width="362" height="242" style="float:right"/>
    
  <p class=info>Geboren | 16. Februar 1997<br/>
    Anschrift | Lerchenfelderstraße 67 / 27<br/> 
    1070 Wien<br/>
    Mobil | +43(0)6769498082<br/>
    E-Mail | office@lukasfassl.com<br/>
    Website | <a class=website
                href=https://www.lukasfassl.com> 
      www.lukasfassl.com </a></p>

  <H2>Berufliche Laufbahn</H2>
  <h4>Seit 2019 | NEOS Lab
Social Media & Content Creator (Teilzeit)</h4>
  
  <!-- Warum ist der Text wieder ganzl links? -->
  <ul> 
      <li>Produktion und Bearbeitung sämtlicher Fotos
        und Videos für Social Media Portale</li>
      <li>Betreuung und Aktualisierung der Website</li>
      <li>Administrative Tätigkeiten / Unterstützung 
        bei Events</li>
      <li>Social Media Marketing</li> </ul>

  <h4>Seit 2016 | Selbststädnig als Fotograf</h4>
  
  <ul> 
      <li>Event-,Hochzeit-,Portait-.Business Fotografie</li>
      <li>Kooperationen mit Agenturen ( Warda Network, Good Life Crew) 
        und Firmen ( Stadt Wien, Life Ball, Nova Rock, Rock in Vienna, 
        MAOAM etc.)</li>
       </ul>
  
  <h4>2016 - 2019 | Foto Steiger</h4>
  
  <ul> 
      <li>Fotografie, Bildretusche, Verkaufsmitarbeiter
        (Teilzeit)</li>
       </ul>

  <h2>Ausbildung</h2>
  <p>2018 | <b> Fit4FH </b> <br/> 
    Studieren ohne Matura Lehrgang </p>

  <p>2017 - 2018 | <b> Deutsche Pop </b> </p>

  <p>2016 - 2017 | <b> Präsenzdienst beim 
    Österreichischen Bundesheer </b> </p>

  <p>2012 - 2016 | <b> Höhere Graphische 
    Bundes-Lehr- und Versuchsanstalt </b> </br>
    Schwerpunkt: Mediengestaltung und Drucktechnik </p>

  <h2>Kenntnisse & Fähigkeiten</h2>
  
  <h4>PC-Kenntnisse</h4>
    
    <ul> 
      <li>Fortgeschrittene Adobe Creative Cloud Kenntnisse ( 
        Photoshop, Lightroom, Illustrator, 
        InDesign, Premiere, After Effects)</li>
      <li>Microsoft Office</li>
      <li>Social Media Tools (Facebook Business Manager)</li>
      <li>Basiskenntnisse Google Analytics</li> </ul>

  </div>
  <script src="script.js"></script>
</body>

</html>
